.character {
  background: #000;
  position: absolute;
  width: 64px;
  height: 160px;
}

.interactableElem {
  position: absolute;
  width: 64px;
  height: 64px;
}

.interactableNpc {
  position: absolute;
  background: #f00;
  width: 64px;
  height: 64px;
}

.interactableObj {
  position: absolute;
  background: #0f0;
  width: 64px;
  height: 64px;
}

