.character {
  background: #000;
  position: absolute;
  width: 64px;
  height: 160px;
}

.interactableElem {
  position: absolute;
  background: #000;
  width: 64px;
  height: 64px;
}

.interactableNpc {
  position: absolute;
  background: #000;
  width: 64px;
  height: 64px;
}
