@import "lib/Lyria.Stylebase.less";
@import "lib/Lyria.Constants.less";
@import "variables.less";

@import "objects.less";
@import "character.less";
@import "ui.less";

body, html {
  width: 100%;
  height: 100%;
  .user-select(none);
}

#container {
  background: #000;
  width: 100%;
  height: 100%;
}

#viewport {
  .align(50%, 40%, 800px, 400px);
  
}

.scene {
  width: 100%;
  height: 100%;
  
  background-image: url("../@{pathImages}/background.png");
  
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
  }
}

@puzzle1: "puzzle1";
@puzzle2: "puzzle2";

.object {
  display: block;
  position: absolute;
  
  &.ferriswheel {
    width: 197px;
    height: 192px;
    
    left: 10px;
    top: 105px;
    
    background-image: url("../@{pathImages}/@{puzzle1}/ferriswheel.png");
  }
  
  &.ferriswheel-platform, &.haudenlukas, &.tent {
    width: 100%;
    height: 100%;
    background-position: center;
  }
  
  &.ferriswheel-platform {
    background-image: url("../@{pathImages}/@{puzzle1}/ferriswheel_platform.png");
  }
  
  &.haudenlukas {
    background-image: url("../@{pathImages}/@{puzzle1}/haudenlukas.png");
  }
  
  &.haudenlukas-ball {
    background-image: url("../@{pathImages}/@{puzzle1}/haudenlukas_ball.png");
    left: 255px;
    top: 330px;
    .square(28px);
    .transition(all, 200ms, ease-in, 0s);
    cursor: pointer;
    
    &.hit {
      top: 220px;
    }
  }
  
  &.tent {
    background-image: url("../@{pathImages}/@{puzzle1}/tent.png");
  }
  
  
  &.pinwheel {
    @objectName: "pinwheel"; 
    
    
    &.small {
      .square(87px);
      left: 625px;
      top: 150px;
      background-image: url("../@{pathImages}/@{puzzle2}/@{objectName}_small.png");
    }
    
    &.medium {
      .square(106px);
      left: 680px;
      top: 120px;
      background-image: url("../@{pathImages}/@{puzzle2}/@{objectName}_medium.png");
    }
    
    &.big {
      .square(138px);
      left: 550px;
      top: 75px;
      background-image: url("../@{pathImages}/@{puzzle2}/@{objectName}_big.png");
    }
    
  }
}