@shadowBlur: 8px;
@borderRadius: 4px;

@highlightColor: #eaea88;
@clickColor: #baba88;

.dialog {
  @dialogWidth: 400px;
  @dialogHeight: 90px;
  
  position: absolute;
  border: 1px solid #000;
  .box-shadow(0px, 0px, @shadowBlur, #fff);
  .border-radius(@borderRadius);
  .opacity(0.9);
  padding: @borderRadius;
  left: 50%;
  width: @dialogWidth;
  height: @dialogHeight;
  
  margin-left: -@dialogWidth / 2;
  top: 10%;
  
  background-image: url("../@{pathImages}/paper_dialog.jpg");
  
  
  .text, .name, .button {
    font-weight: 400;
    display: block;
    font-size: 0.85em;
  }
  
  .text, .name {
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .text {
    color: #000;
  }
  
  .button {
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: 10%;
    width: 80%;
    bottom: 8px;
    
    border: 1px solid #666;
    .transition(all, 400ms, ease-in-out, 0s);
      
    background: #eee;
    cursor: pointer;
    .border-radius(@borderRadius);
    padding: @borderRadius;
    
    &:hover {
      background: @highlightColor;
    }
    
    &:active {
      background: @clickColor;
    }
  }
  
}

.status {
  @itemSize: 64px;
  @inventoryWidth: 800px;
  @shadowColor: #ddd;
  
  width: @inventoryWidth;
  margin-left: -@inventoryWidth / 2;
  bottom: 8%;
  left: 50%;
  position: absolute;

  .inventory .item {
    float: left;
  }

  .usercontrols .item {
    float: right;
  }
  
  .inventory, .usercontrols {
    .item {
      .image, .button {
        .transition(all, 400ms, ease-in-out, 0s);
      }
    }
  }
  
  .item {
    display: inline-block;
    cursor: pointer;
    margin: 4px;
    
    &.disabled {
      .opacity(0.5);
    }
    
    &:hover { 
      .image, .button {
        .box-shadow(0px, 0px, @shadowBlur * 2, @highlightColor);
        border-color: #222;
        background: @highlightColor;
      }
    }
    
    &:active {
      .image, .button {
        .box-shadow(0px, 0px, @shadowBlur * 2, lighten(@clickColor, 10%));
        border-color: #000;
        background: @clickColor;
      }
    }
    
    .image {
      width: @itemSize;
      height: @itemSize;
      
      .border-radius(@borderRadius);
      .box-shadow(0px, 0px, @shadowBlur, @shadowColor);
      
      border: 1px solid #666;
      
      background: #dadada;
      padding: 4px;
    }
    
    .button {
      margin-top: 4px;
      padding-top: 2px;
      vertical-align: middle;
      height: @itemSize / 3;
      
      font-size: 0.8em;
      font-weight: bold;
      text-align: center;
      
      border: 1px solid #666;
      
      background: #eee;
      
      .border-radius(@borderRadius);
      .box-shadow(0px, 0px, @shadowBlur, @shadowColor);
    }
  }
  
}
